@charset "utf-8";
/* CSS Document */

.container, .container-fluid {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.table {padding: 1px; margin:0px}


/** panel **/
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}


.dropdown:hover .dropdown-menu {
display: block;
}
.jumbotron p {font-size: 1.2em; line-height:125%;}

footer {
	bottom: 0;
   width: 100%;
	height: height-footer;
	padding: 1em 0;
	border-top: 3px solid #ddd;
	color: #666;
	text-align: center;
	margin-top: 3em;
}

	}
	.text-center {
		margin-left: auto;
		margin-right: auto;
	}
	.text-right {
		margin-left: auto;
	}
 
.btn {text-decoration:none;}


/**** disable the hover color change  ****/
.navbar-header .topheader {color:#999; text-decoration: none;}
.navbar-header .topheader:hover {color:#999; text-decoration: none;}


/*custom dropdown menu hover */
.dropdown-menu a{
 color: #444 !important;
}
.dropdown-menu a:hover{
 background: #D1D1D1!important;
background: linear-gradient(left, #D1D1D1, #838282);
 background: -moz-linear-gradient(left, #D1D1D1, #838282)!important;
 background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#D1D1D1), to(#838282))!important;
color: #f8f9fa !important;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;*/ }
}


/**** custom navbar color ****/

.navbar-default {
	background-color: #3397B2; /*teal */
	border: none;
	border-radius: 0;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #FFFFFF;
	background-color: #005DAC; /*#9F001C*/
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #005DAC; /*#9F001C*/

}

.navbar-inverse .navbar-nav>.active>a:hover {
		color: #FFFFFF;
	background-color: #005DAC;
}


dropdown-menu li>a:hover {
	color: #FFFFFF;
	background-color: #005DAC; /*#9F001C*/
}

#navbar {font-size:0.85em;}
#navbar a{text-decoration: none;}

/*********** Table ***********/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px 6px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/**** panel ***/
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #C9DEE8;
    border-color: #9BD6E3;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.panel-heading {
  padding: 2px 14px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

 /**********************/


page-header{padding-top:0; margin-bottom:15px;}

html, button, input, select, textarea {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color: #222;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}
::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 2em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}




/* ==========================================================================
   General styles
   ========================================================================== */

html, body {font-family:"Helvetica Neue", "Microsoft YaHei",Helvetica,Arial,sans-serif;
	height: 100%;
}

body {/*font-family: Arial, Helvetica, sans-serif;
	font-family: "Lato";*/
color: #222;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}


.col-md-4 {
	padding-bottom: 20px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.modal-header {
	background: #ffbf00;
}
.modal-header h4 {
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.modal-footer {
	background: #2b2b2b;
}


a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", Ariel;
	font-weight: 200;
	color: #333;
}
h5 {font-size: 28px;color: #777;}
h2 {
	font-size: 32px;
	color: #305BC2; 
}
h3 {
	
	font-size: 21px;
}


/* Paragraph & Typographic */
p, td  {color: #555;
	font-size: 1.15em; 
	margin-bottom: 20px;
}
li {color: #555;
	font-size: 1.15em;} 
	
	
p.large {
	font-size: 20px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
blockquote, blockquote p {
	line-height: 28px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}
blockquote {
	position: relative;
	margin: 0 0 40px -30px;
	padding-left: 30px;
	border-left: 5px solid #3498db;
}
blockquote cite {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: #333;
	font-weight: 300;
}
blockquote cite:before {
	content: "-- "
}
/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #003399;
	text-decoration: underline;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #305BC2;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

#info {
	background-color: #fff;
	margin-top: 10px;
	padding: 4px 10px;
	text-align: center;
}
#info h4 {
	color: #30A3A9;
	font-size: 1.5em;
	font-family: "Microsoft YaHei", Ariel;
}
#info p {
	text-align: center;
}




<!----Footer --->


	
	
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
#headerwrap h1 {
	font-size: 80px;
}
#headerwrap p {
	font-size: 30px;
	line-height: 38px;
}




