@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #464646;
	background-color: #BDC2D7;
}


#bodytext h2 {
	color: #EA9E00;
	font-size: 18px;
	margin-bottom: 18px;
}
#bodytext h3 {
	font-size: 15px;
	padding-top: 16px;
	padding-bottom: 4px;
}
#bodytext ul li{ margin-left: 26px;}
#bodytext p {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 10px;
	
}

p, td, ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; line-height:125%;
	color: #464646;
}



#footer {padding: 10px 0; 
margin-top: 10px;
	font-size: 95%; color:#494949;
	text-align:center; 
	background-color:#DDDDDD;}
	
	
/**test1 **/
table th{margin-bottom: 14px; padding:4px;border:1px solid #2F6D93;}
table td {padding:2px; border:1px solid #2F6D93;}

	
	
/*** table ***/

 .divTable
    {
        display:table;
        width: 100%;
        background-color:#fff;
        border:0px solid  #666666;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .divRow
    {
       display:table-row;
       width: auto;
/*border-bottom:1px solid red;
background-color: #CCC;*/
    }

    .divCell
    {border-spacing: 4px;
        float:left;/*fix for  buggy browsers*/
       /* display:table-column;*/
        width:250px;
        background-color:#fff;
/*border-right:2px solid #a1b04a; */
    }
	
.headRow {background-color:#fff;border-bottom:1px solid red;}


#bodytext ul li {margin:0; padding:0;}

	
